body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  max-width: 500px;
}

#quote {
  font-size: 22px;
  margin-top: 20px;
}

#movie {
  margin-top: 8px;
  font-size: 14px;
  opacity: 0.7;
  font-style: italic;
}

/* animation */
.animate {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  padding: 12px 22px;
  margin: 8px;
  font-size: 16px;
  cursor: pointer;

  background: linear-gradient(
    135deg,
    rgba(56, 189, 248, 0.6),
    rgba(0, 1, 80, 0.6)
  );

  color: white;
  border-radius: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
button:hover {
  transform: translateY(-3px);

  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.25),
    0 0 20px rgba(99, 102, 241, 0.35);
}

.moods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
  margin-top: 30px;
}
.moods button {
  min-width: 190px;
}
/* ===== MOOD THEMES ===== */

body.happy {
  background: radial-gradient(circle at top, #ff0505, #febe00);
}

body.sad {
  background: radial-gradient(circle at top, #1e293b, #020617);
}

body.motivational {
  background: radial-gradient(circle at top, #0f172a, #020617);
}

body.dark {
  background: radial-gradient(circle at top, #020617, #000000);
}

button.active {
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.3),
    0 0 25px rgba(255, 255, 255, 0.35);
  transform: translateY(-3px);
}

.copy-btn {
  margin-top: 18px;
  padding: 10px 18px;
  font-size: 14px;

  background: rgba(255, 255, 255, 0.12);
  color: white;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.copy-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}
